export interface Problem {
  id: number;
  title: string;
  difficulty: 'Easy' | 'Medium' | 'Hard';
  link: string;
}

export interface Category {
  category: string;
  problems: Problem[];
}

export interface UserProblemState {
  completed: boolean;
  date: string;
  starred: boolean;
  note: string;
}

export interface UserProgress {
  [problemId: number]: UserProblemState;
}

export type ViewType = 'Overview' | 'Data Structures' | 'Algorithms' | 'Mock Tests' | 'Settings';
